{% extends "base.html" %} {% block content %}

<h2>Check Document</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".pdf">
    </form>

    
    <div>
        <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
    </div>
    

    <div class="loader" style="display:none;"></div>
    <h3>{{ prediction_text }}<h3>

</div>

{% endblock %}